/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
 * Primary Blue: #44D5FF;
 * Dark Blue: #0F2C34;
 * Primary Pink: #FF7FA8;
 */

* {
  /*font-family: "Circular", "helvetica", sans-serif;*/
  font-family: "Circular", "Montserrat", sans-serif;
  font-weight: 200;
}

body {
  background-color: #fff;
}

section {
  overflow-x:hidden;
}

nav {
  text-transform: uppercase;
}

nav.item-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;

}

.container{
  max-width: 800px;
}

.section-header h1{
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 34px;
  letter-spacing: 5px;
}

/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}



/*
 * Hero Section
 */

.hero {
  /*background-color: #D44500;*/
  background-color: #FAA95A;
  min-height: 110vh;
  padding-bottom: 50px;
}

.hero hr {
  border-top: 15px solid #0F2C34;
  margin: 0;
  padding-bottom: 50px;
  position: relative;
  top: -14px;
}

.hero .hero-header{
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
  font-family: sans-serif;
  /*padding-top: 25px;
  padding-bottom: 25px;*/
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12), 0 1px 4px 0 rgba(0,0,0,.12);
}

.hero .container{
  padding: 15px;
}

.hero .nav-item{
  color: #000;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  /*padding: 14px 16px;*/
}

.hero .wrapper {
  padding-top: 15vh;
  /*padding-left: 15px;*/
}

.hero .hero-child{
  padding-left: 4vw;
}

.hero .wrapper h1 {
  /*background: #fff;
  background: rgba(255, 255, 255, .3);*/
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -2px;
  padding: 10px 30px;
}

.hero .wrapper h2 {
  font-size: 28px;
  font-weight: 200;
}

.hero .wrapper h3 {
  font-size: 27px;
  letter-spacing: 5px;
  color: #D44500;
  font-weight: 200;
  padding-bottom: 3.2vw;
}


.hero .buttons {
  margin: 0vw 10vw;

}

.hero .buttons a {
  background: #F05724;
  /*border: 4px solid #0F2C34;*/
  border-bottom: 4px solid #D44500;
  border-right: 4px solid #D44500;
  /*border-radius: 40px;*/
  color: #0F2C34;
  display: inline-flex;
  font-family: Montserrat;
  font-weight: 300;
  padding: 1.25rem 5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}

.hero .buttons a:not(:last-child) {
  margin-right: 100px;
}

/*
 * About Section
 */

.about {
  border-width: 15px 0;
  background-color: #fff;
  padding: 50px 0;
  position: relative;
}

.about p {
  font-size: 18px;
  line-height: 1.5em;
}

.sub-header {
  color: #F05724;
  font-weight: 700;
}
/*.about p span {
  color: #F47E20;
  font-weight: 500;
}*/

/*
 * Info Section
 */

/*.info {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.info .item {
  padding: 20px;
}

.info .item h1 {
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0;
}

.info .item img {
  max-width: 220px;
}

.info .item p {
  font-size: 20px;
}*/

/*
 * FAQ Section
 */

.faq {
  background-color: #F47E20;
  margin-top: 15px;
  position: relative;
  padding: 50px;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
}

.faq .question hr {
  border-top: 8px solid #0F2C34;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

.sponsor {
  position: relative;
  padding: 50px;
}

.sponsor p {
  font-size: 18px;
  line-height: 1.5em;

}

.sponsor .sponsor_logos{
  padding-top: 40px;
}

.partner {
  padding-right: 50px;
  width: 300px;
}

.bronze_sponsor{
  padding-right: 30px;
  padding-top: 30px;
  max-width: 175px;
}

.supporter {
  padding-right: 30px;
  padding-top: 30px;
  max-width: 85px
}

.sponsor_request{
  padding-top: 30px;
}

/*
 * Footer Section
 */

.footer {
  background-color: #F47E20;
  color: #fff;
  padding: 30px 0;
}


.footer .social__icon {
  padding: 0px 20px;
  font-size: 20px;
  color: white;
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer h1{
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.footer h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

@media(max-width: 768px) {
  .hero .buttons a {
    border-width: 8px;
    display: inline-flex;
    font-size: 20px;
    margin: 5px;
  }

  .hero img {
    /*width: 250px;*/
    width: 100%;
  }

  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }

  /*.bronze_sponsor{
    max-width: 300px;
  }*/
/*
  .partner{
    width: 40px;
  }*/

}
