@font-face {
 font-family: 'krungthep';
 src: url(Krungthep.ttf);
 font-weight: normal;
}

* {
  font-family: 'krungthep';
}

body {
  background-image: linear-gradient(rgb(13, 0, 59), rgb(18, 12, 116), rgb(13, 0, 59), rgb(18, 12, 116));
}

section {
  overflow-x:hidden;
  color: white;
}

/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}



/* 
 * Hero Section
 */

.hero {
  min-height: 110vh;
}

.navbar-nav {
  justify-content: space-around;
}

.nav-item {
  color: black;
}

.hero nav {
  margin-left: 30px;
  margin-right: 30px;
}

.header {
  width: 500px;
  padding: 60px 0;
}

.hero .buttons {
  margin: 40px 0;
}

.hero .buttons a {
  background: #fff;
  border-radius: 30px;
  color: #0F2C34;
  display: inline;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 60px;
  margin: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}

/* 
 * About Section
 */

.about {
  border-width: 15px 0;
  padding: 130px 0;
  position: relative;
}

.about p {
  color: #0F2C34;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

.about p span {
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Info Section
 */

.info {
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.info .item {
  padding: 20px;
}

.info .item h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0;
}

.info .item img {
  max-width: 220px;
}

.info .item p {
  font-size: 20px;
}

/*
 * FAQ Section
 */

.faq {
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.faq h1 {
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-weight: 700;
  font-size: 24px;
}

.faq .question hr {
  border-top: 8px solid #0F2C34;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}


/*
 * Sponsor Section
 */

.sponsor .sponsor_logos{
  padding-top: 40px;
}

.partner {
  padding-right: 50px;
  width: 300px;
}

.long_gold_sponsor{
  padding-right: 30px;
  padding-top: 30px;
  max-width: 400px;
}

.gold_sponsor{
  padding-right: 30px;
  padding-top: 30px;
  max-width: 250px;
}

.silver_sponsor{
  padding-right: 30px;
  padding-top: 30px;
  max-width: 200px;
}

.bronze_sponsor{
  padding-right: 30px;
  padding-top: 30px;
  max-width: 150px;
}

.supporter {
  padding-right: 30px;
  padding-top: 30px;
  max-width: 200px
}


/*
 * Footer Section
 */

.footer {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer img {
  max-width: 250px;
  margin-bottom: 2px;
}

.footer h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

hr {
  background-color: white;
  height: 1px
}

.social_icon {
  color: rgb(155, 7, 81);
}
