@font-face {
font-family: 'heronsans';
src: url(HeronSans.otf);
font-weight: normal;
}

* {
  font-family: 'heronsans';
}

body {
  background-color: white;
}

section {
  overflow-x:hidden;
}

h2 {
  font-size: 2.75vw;
}

h3 {
  font-size: 2.36vw;
}

h4 {
  font-size: 2vw;
}

p {
  font-size: 1.75vw;
}

a {
  color: rgb(87, 84, 0);
}

a:hover,
a:focus {
  color: rgb(5, 5, 5);
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.content {
  color: black;
  margin-left: 25vw;
}


/* 
 * Sidebar 
 */

.wrapper {
  display: flex;
}

 .sidebar {
  background-image: url('side_banner.jpg');
  background-size: auto 100%;
  color: #fff;
  align-content: center;
  align-items: center;
  width: 25vw;
  min-height: calc(100vh - 174px);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 0;
}

.sidebar img {
  width:70%
}

.sidebar h2 {
  color: #4fd1a5;
  margin-top: 5vh;
  margin-bottom: 7vh;
  text-transform: uppercase;
}

.sidebar h4 {
  color: #4fd1a5;
  text-transform: uppercase;
}

.sidebar h5 {
  font-size: 1vw;
  color: #4fd1a5;
  margin-bottom: 0%;
  text-transform: uppercase;
}

.sidebar-q {
  margin-bottom: 2vh;
}

.sidebar-faq-link {
  font-size: 1vw;
  margin-bottom: 3.5vh;
}

.sidebar-faq-link a {
  color: #4fd1a5;
  text-transform: uppercase;
}

.sidebar-register {
  margin-bottom: 5vh;
}

.sidebar-buttons {
  -ms-transform: skewX(-15deg); /* IE 9 */
  -webkit-transform: skewX(-15deg); /* Safari */
  transform: skewX(-15deg);
  margin: 3vh 0;
}

.sidebar-buttons a {
  background:rgb(79,209,165, 0.75);
  color: #fff;
  display: inline;
  font-size: 1vw;
  font-weight: 600;
  padding: 0.5vw 2.25vw;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar-buttons a:hover,
.sidebar-buttons a:focus {
  background-color: #2c775e;
  transition: all 0.2s ease;
}


/*
 * Hero Section
 */

.hero {
  padding-bottom: 8vh;
}

.navbar {
  padding: .5% 1%;
}

.navbar-nav {
  justify-content: space-around;
}

.nav-item {
  color: black;
}

.hero nav {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 2vw;
  margin-bottom: 10%;
}

.navbar-nav {
  flex-direction: row;
}

.header {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.hero .col {
  padding-right: 7%;
}

.hero .buttons {
  margin: 10% 0;
}

.hero .buttons a {
  background: #fff;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  display: inline;
  font-size: 1.75vw;
  font-weight: 700;
  padding: 1% 5%;
  margin: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}


/* 
 * About Section
 */

.about {
  padding-bottom: 12vh;
}

.about-header {
  padding: 5vh 0;
}

.about p {
  padding-bottom: 8%;
}

/*
 * FAQ Section
 */

.faq {
  padding-bottom: 12vh;
  position: relative;
}

.faq-header {
  padding: 5vh 0;
}

.faq p {
  padding-bottom: 8%;
}


/*
 * Sponsor Section
 */

.sponsor {
  position: relative;
  padding-bottom: 5%;
}

.sponsor .sponsor_logos {
  padding: 40px 0;
}

.sponsor-header {
  width: 175%;
}

.sponsor .row {
  padding-bottom: 8%;
}

.sponsor p {
  padding-bottom: 5%;
}

.rounded {
  border-radius: 3rem!important;
}

.partner {
  padding: 1% 3%;
  width: 30%;
}

.long_gold_sponsor {
  padding: 2% 2%;
  max-width: 35%;
}

.gold_sponsor {
  padding: 2% 2%;
  max-width: 23%;
}

.long_silver_sponsor {
  padding: 1.5% 1.5%;
  max-width: 25%;
}

.silver_sponsor {
  padding: 1.5% 1.5%;
  max-width: 20%;
}

.bronze_sponsor {
  padding: 1.5% 1.5%;
  max-width: 15%;
}

.small_bronze_sponsor {
  padding: 1.5% 1.5%;
  max-width: 10%;
}

.supporter {
  padding: 2% 2%;
  max-width: 10%;
}

.sponsor .sponsor_logos img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.sponsor a:hover {
  text-decoration: none;
}


/*
 * Sign Up Section
 */

 .sign-up {
  padding-bottom: 6%;
  position: relative;
}

.sign-up-header {
  width: 40%;
  padding: 3% 0;
}


/*
 * Footer Section
 */

.footer {
  background-color: rgb(24, 24, 24);
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
}


.footer img {
  margin-bottom: 2px;
}

.footer a:hover {
  text-decoration: none;
}

hr {
  background-color: white;
  height: 1px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.social_icon {
  color: #4fd1a5;
}

.fa-2x {
  font-size: 2vw;
}

.footer h5 {
  padding-top: 3%;
}
