@font-face {
 font-family: 'krungthep';
 src: url(Krungthep.ttf);
 font-weight: normal;
}

* {
  font-family: 'krungthep';
}

body {
  background-image: linear-gradient(rgb(13, 0, 59), rgb(18, 12, 116), rgb(13, 0, 59), rgb(18, 12, 116));
}

section {
  overflow-x:hidden;
  color: white;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.75vw;
}

h4 {
  font-size: 1.6vw;
}

h5 {
  font-size: 1.25vw;
}

p {
  font-size: 1vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}


/* 
 * Hero Section
 */

.hero {
  padding-bottom: 10%;
}

.navbar {
  padding: .5% 1%;
}

.navbar-nav {
  justify-content: space-around;
}

.nav-item {
  color: black;
}

.hero nav {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1vw;
  margin-bottom: 10%;
}

.navbar-nav {
  flex-direction: row;
}

.header {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.hero .col {
  padding-right: 7%;
}

.hero .buttons {
  margin: 10% 0;
}

.hero .buttons a {
  background: #fff;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  display: inline;
  font-size: 1.75vw;
  font-weight: 700;
  padding: 1% 5%;
  margin: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}

.sun {
  width: 75%;
}


/* 
 * About Section
 */

.about {
  padding-bottom: 10%;
}

.about-header {
  width: 115%;
  padding: 50px 0;
}

.trees {
  width: 75%;
}

.about p {
  padding-bottom: 8%;
}

/*
 * FAQ Section
 */

.faq {
  padding-bottom: 10%;
  position: relative;
}

.faq-header {
  width: 25%;
  padding: 20px 0;
  padding-bottom: 10%;
}

.faq p {
  padding-bottom: 8%;
}

.faq .space {
  padding: 5% 0;
}


/*
 * Jr Section
 */

.jr {
  padding-bottom: 10%;
  position: relative;
}

.jr-header {
  width: 200%;
}

.jr p {
  padding-bottom: 8%;
}

/*
 * Sponsor Section
 */

.sponsor {
  position: relative;
  padding-bottom: 5%;
}

.sponsor .sponsor_logos {
  padding: 40px 0;
}

.sponsor-header {
  width: 175%;
}

.mountains {
  width: 80%;
}

.sponsor .row {
  padding-bottom: 8%;
}

.sponsor p {
  padding-bottom: 5%;
}

.rounded {
  border-radius: 3rem!important;
}

.partner {
  padding: 1% 3%;
  width: 30%;
}

.long_gold_sponsor {
  padding: 2% 2%;
  max-width: 35%;
}

.gold_sponsor {
  padding: 2% 2%;
  max-width: 23%;
}

.silver_sponsor {
  padding: 1.5% 1.5%;
  max-width: 20%;
}

.bronze_sponsor {
  padding: 1.5% 1.5%;
  max-width: 15%;
}

.supporter {
  padding: 2% 2%;
  max-width: 10%;
}

.sponsor .sponsor_logos img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.sponsor a:hover {
  text-decoration: none;
}


/*
 * Sign Up Section
 */

 .sign-up {
  padding-bottom: 6%;
  position: relative;
}

.sign-up-header {
  width: 40%;
  padding: 3% 0;
}


/*
 * Footer Section
 */

.footer {
  color: #fff;
  padding-top: 1%;
  padding-bottom: 2%;
}


.footer img {
  margin-bottom: 2px;
}

.footer a:hover {
  text-decoration: none;
}

hr {
  background-color: white;
  height: 1px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.social_icon {
  color: rgb(179, 24, 145);
}

.fa-2x {
  font-size: 2vw;
}

.footer h5 {
  padding-top: 3%;
}
