---
layout: default
---

<div class="event" id="event">
  <div class="text-center">
    <h2 style="color: #001f54;">The Events</h2>
    <div class="event-countdown">
      <h3 id="countdown"></h3>
    </div>
  </div>

  {% for item in site.event_page %}
  <div class="content-heading">
    <h6 style="color: #F8E7C9;">{{ item.header }}</h6>
  </div>
  <div class="content-p container">
    {% if item.header contains "Schedule" %}
    <table align="center">
      {% for event in item.events %}
      <tr>
        {% for detail in event.event_details %}
        <td>{{ detail }}</td>
        <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="text-center">{{ item.content | markdownify }}</div>
    {% endif %}
  </div>
  {% endfor %}

</div>

<script type="application/javascript">
  $(document).ready(function() {
    var countDownDate = new Date("Feb 25, 2023 12:00:00").getTime();
    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor((distance % (1000 * 60 * 60 * 24 * 365)) / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      var daysStr = days + "d ";
      if(days < 1) {
        daysStr = "";
      }
      document.getElementById("countdown").innerHTML = daysStr + hours
      + "h " + minutes + "m " + seconds + "s until submissions due";
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "";
      }
    }, 1000);

    function checkMode() {
      var now = new Date().getHours();
      
      var eventElem = document.getElementById("event")
      var footer = document.getElementById("footer")
      var body = document.getElementsByTagName('body')[0];

      if ((now >= 18 || now < 6 ) && eventElem.className == "event") {
        body.style.backgroundColor = "#F8E7C9";
        eventElem.className = "event night";
        footer.className = "footer night";
      }
      if ((now < 18 && now >= 6 ) && eventElem.className == "event-night") {
        body.style.backgroundColor = "#F8E7C9";
        eventElem.className = "event";
        footer.className = "footer";
      }
    }

    checkMode();
    
    var y = setInterval(checkMode(), 60000);
    
  });
</script>
