---
layout: default
---

{% include hero.html %}

<section class="about" id="section-about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img rel=trees src="{{ site.image.palm_trees }}" alt="" class="trees">
      </div>
      <div class="col">
        <img rel=about src="{{ site.image.about }}" alt="About" class="about-header">
      </div>
      <div class="col"></div>
    </div>

    {% for item in site.about %}
      <div class="text-center">
        <h4>{{ item.header }}</h4>
      </div>
      {{ item.content | markdownify }}
    {% endfor %}
  </div>
</section>

<section class="faq" id="section-faq">
  <div class="container">
    <img rel=faq src="{{ site.image.faq }}" alt="FAQ" class="faq-header center">
    {% for item in site.faq %}
      {% if item.id %} <div id="{{ item.id }}" class="space"></div> {% endif %}
      <div class="text-center">
        <h4>{{ item.question }}</h4>
      </div>
      {{ item.answer | markdownify }}
    {% endfor %}
  </div>
</section>

<section class="sponsor" id="section-sponsors">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img rel=mountains src="{{ site.image.mountains }}" alt="" class="mountains">
      </div>
      <div class="col">
        <img rel=sponsors src="{{ site.image.sponsors }}" alt="Sponsors" class="sponsor-header">
      </div>
      <div class="col"></div>
    </div>

    {% if site.sponsor.status == "previous" %}
      <div class="text-center">
        <p>These are our previous sponsors from CuseHacks {{ site.sponsor.year }}.</p>
      </div>
    {% endif %}
    {{ site.sponsor.thank_you | markdownify }}
    <div class="sponsor_logos container rounded text-center">
      {% for item in site.sponsor.company %}
        <a target="_blank" href="{{ item.href }}">
          <img src="{{ item.image }}" alt="{{ item.sponsor }}" class="{{ item.class }}">
        </a>
      {% endfor %}
    </div>
    <p>
      Interested in sponsoring us? Check out our sponsorship package
      <a target="_blank" href="{{ site.hero.links[1].href }}">here</a> and send us an email at innovateorange@syr.edu.
    </p>
  </div>
</section>

<section class="sign-up" id="section-sign-up">
    <div class="container">
      <img rel=sign-up src="{{ site.image.sign_up }}" alt="Sign Up" class="sign-up-header center">
      <div class="text-center">
        <p>{{ site.sign_up.message | markdownify }}</p>
      </div>
    </div>
  </section>
