---
layout: default
---

{% include hero.html %}

<section class="about" id="section-about">
  <div class="container">
    <img rel=trees src="{{ site.image.palm_trees }}" alt="" height=150px>
    <img rel=about src="{{ site.image.about }}" alt="About" height=100px>
    <div class="col md-12">
      {% for item in site.about %}
        <p><span class="sub-header">{{ item.header }}</span>
          {{ item.content | markdownify }}
        </p>
      {% endfor %}
    </div>
  </div>
</section>

<section class="faq" id="section-faq">
  <div class="container">
    <img rel=about src="{{ site.image.faq }}" alt="FAQ" height=100px>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="sponsor" id="section-sponsors">
  <div class="container">
    <img rel=about src="{{ site.image.sponsors }}" alt="Sponsors" height=100px>

    {% if site.sponsor.status == "previous" %}
      <p>These are our previous sponsors from {{ site.sponsor.year }}</p>
    {% endif %}

    <div class="col md-12">
        <p>{{ site.sponsor.thank_you | markdownify }}</p>
    </div>
  
    <div class="sponsor_logos">
      {% for item in site.sponsor.company %}
        <a target="_blank" href="{{ item.href }}">
          <img src="{{ item.image }}" alt="{{ item.sponsor }}" class="{{ item.class }}">
        </a>
      {% endfor %}
    </div>

    <div class="sponsor_request col md-12">
      <p>{{ site.sponsor.message | markdownify }}</p>
    </div>
  </div>
</section>
