<section class="hero">

  <div class = "hero-header">
    <header class="nav">
      <div class = "container">
        <a class="nav-item" href="#section-about">About</a>
        <a class="nav-item" href="#section-schedule">Schedule</a>
        <a class="nav-item" href="#section-faq">FAQs</a>
        <a class="nav-item" href="#section-sponsors">Sponsors</a>
      </div>
    </header>
  </div>

  <div class="wrapper text-center">
    <!-- <h1 rel="title">{{ site.event.name }}</h1> -->
    <!-- <h2 rel="description">{{ site.event.description }}</h2> -->
    <img src = "/images/cusehacks02.svg" alt="CuseHacks" style="height:800px">
    <h3 rel="location">{{ site.event.date }} &#64; {{ site.event.school }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</section>
