<section class="hero">
  <video width="100%" muted autoplay poster="{{ site.image.thumbnail }}">
    <source src="{{ site.video }}" type="video/mp4">
  </video>
  <div class="hero-header container">
    <div class="row align-items-center justify-content-around">
      <div class=".col-md-4">
        <h5>{{ site.hero_header }}</h5>
      </div>
      <div class="hero-buttons .col-md-4 .offset-md-4">
        <a target="_blank" href="{{ site.links.apply_href }}">Register</a>
      </div>
    </div>
  </div>
</section>
