<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        {% for item in site.social %}
          <a target="_blank" class="social__icon" href="{{ item.href }}">
            <i class="{{ item.icon }}" aria-hidden="true"></i>
          </a>
        {% endfor %}
        <h3>{{ site.event.year }} {{ site.event.name }} <img src="{{ site.image.slice }}" alt="" height=5px></h3>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
