<!DOCTYPE html>
<html>
  {% include head.html %}
  <!--
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=red" target="_blank">
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-red.svg" alt="Major League Hacking 2022 Hackathon Season" style="width:100%"></a>
    -->
  <body>
    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% if site.trust_badge.year %}
      {% include trust_badge.html %}
    {% endif %}
    
    <div class="wrapper">
      <div class="sidebar">
        <div class="container text-center">
          <a href="/cusehacks/">
            <img src= "{{ site.image.header }}" alt="CuseHacks">
          </a>
          {% for item in site.side_banner.faq %}
          <div class="sidebar-q">
            <h5>{{ item.header }}</h5>
            {{ item.content }}
          </div>
          {% endfor %}
          <div class="sidebar-faq-link">
            More questions?  <a href="{{ site.links.faq_href }}"><b><i>FAQ.</i></b></a>
           
          </div>
          <div class="sidebar-sponsor-link">
            <div class="sidebar-buttons">
              <a target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfPKoTuxL--pGYFymUZ1WqgM3ZEUksKsaOnIqgJxm4HKZEtvg/viewform">Apply</a>
            </div>
            <div class="sidebar-buttons">
              <a href="event.html">View Event Page</a>
            </div>
            <div class="sidebar-buttons">
              <a href="sponsors.html">View Sponsors</a>
            </div>
            <!-- <div class="sidebar-buttons">
              <a href="https://forms.gle/pwxQb2CogxzTVdEt5">Interest Form</a>
            </div> -->
            <div class="sidebar-buttons">
              <a href="/cusehacks/assets/mlh-code-of-conduct.pdf">Code of Conduct</a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        {{ content }}
      </div>

    </div>

    <section class="footer" id="footer">
      <div class="footer-heading">
        <h6>Contact Us</h6>
      </div>


      <div class="mobile-hide row justify-content-around">
        <div class="col-5">
          <p>2023 CuseHacks <img src="{{ site.image.slice }}" alt="" width=6%></p>
        </div>
        <div class="col-3">
          {% for item in site.social %}
            <a target="_blank" class="social_icon" href="{{ item.href }}">
              <i class="{{ item.icon }}" aria-hidden="true"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% endfor %}
        </div>
      </div>

      <div class="mobile text-center">
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% for item in site.social %}
          <a target="_blank" class="social_icon" href="{{ item.href }}">
            <i class="{{ item.icon }}" aria-hidden="true"></i>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
        <p>2023 CuseHacks <img src="{{ site.image.slice }}" alt="" width=6%></p>
      </div>
    </section>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
